#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav ul li {
  display: inline;
}

nav ul li a {

  color: #000000;
}

nav ul li a:hover {
  color: #000000;
  text-decoration: underline;
}

button {
  background-color: rgb(225, 225, 225);
  color: black;
  border: 2px solid #555555;
}

button:hover {
  background-color: #7c7c7c;
  color: white;
  border: 2px solid #555555;
}

Link {
  color: black;
}

.view-all-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 7px 12px;
  background-color: rgb(225, 225, 225);
  color: black;
  border: 2px solid #555555;
  text-decoration: none;
  border-radius: 7px;
}

.view-all-btn:hover {
  background-color: #7c7c7c;
  color: white;
  border: 2px solid #555555;
}

.article-content {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-top: 10px;
  border-radius: 5px;
}

.article-info p {
  margin: 0;
}

.articles-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.article-card {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.article-card:hover {
  transform: scale(1.03);
}

.article-card h3 {
  margin: 0 0 0.5rem;
  color: black;
}

.article-card p {
  margin: 0.25rem 0;
  color:#5c5c5c
}

.article-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.single-article {
  padding: 20px;
}

.comments-section {
  margin-top: 40px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.comment-card {
  position: relative;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.comment-card p {
  margin: 0;
}

.comment-card button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px 12px;
  font-size: 14px;
}

.comment-txt {
  text-align: left;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

input, textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  height: 100px;
}

.article-votes {
  display: flex;
  align-items: center;
  margin-top: -20px;
  margin-left: 1rem;
}

.article-votes span {
  cursor: pointer;
  transition: color 0.2s;
}

.article-votes p {
  margin: 10;
  font-size: 1.5rem;
}

.vote-star {
  cursor: pointer;
  font-size: 2rem;
  color: gray;
  transition: color 0.3s ease;
}

.vote-star.voted {
  color: rgb(255, 200, 0);
}

.vote-star:hover {
  color: orange;
}

.vote-count {
  margin-left: 10px;
  font-size: 1.5rem;
}

.topics-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px auto 30px;

}

.topic-card {
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 100%;
  overflow: hidden;
  text-align: left;
  box-sizing: border-box;
  padding-right: 5px;
  transition: transform 0.3s ease-in-out;
}

.topic-card:hover {
  transform: scale(1.05); 
}

.topic-image {
  width: 100px; 
  height: auto; 
  margin: 7px;
}

.topic-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1; 
  justify-content: center;
  text-align: center;
  color:#5c5c5c
}

.topic-title {
  margin: 0;
  color:#000000;
}

.topic-description {
  margin: 0;
  font-size: 0.9rem;
}